@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2? family= Bebas+Neue & family= Playpen+Sans:wght@800 & display=swap');

@font-face {
     font-family: 'Amora';
     src: url('../fontes/Amora.otf') format('opentype');
     font-weight: normal;
}

:root{
    --cor01:#C23AA0;
    --cor02:#8F477D;
    --cor03:#F419BD;
    --cor04:#5C4055;
    --cor05:#332E32;

    --fonte-padrao: 'Arial , Verdana, Helvetica, sans-serif';
    --fonte-amor:'Amora, sans-serif';
    --fonte-destaque: 'Playpen Sans, cursive';
}

*{
    margin: 0px;
    padding: 0px;
}

body{
    background-image: linear-gradient(to top, var(--cor02), var(--cor04));
    var(--fonte-padrao)
}

header{
    background-image: linear-gradient(to bottom, var(--cor02), var(--cor04));
    min-height: 130px;
    text-align: center;
    padding-top: 30px;
}

header > h1{
    color: white;
    font-family: var(--fonte-amor);
    font-size: 3em;
    max-width: 600px;
    margin: auto;
    margin-bottom: 15px;
    padding-left: 15px;
}

nav{
    background-color: var(--cor04);
    padding: 10px;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.37);
}

nav > a{
    color: white;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bolder;
    text-decoration: 0.5;
}

nav > a:hover{
    background-color: var(--cor02);
    color: var(--cor03);
}

main img{ 
    width: 100%;
}

main{
    min-width: 300px;
    max-width: 1000px;
    padding: 20px;
    margin: auto;
    margin-bottom: 30px;
    background-color: white;
    box-shadow: 0px 0px 5px black;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

article h1{
    background-color: #8f477d77;
    color: black
    font-size: 1.8em;
    font-weight: normal;
    font-family: var(--fonte-destaque);
    text-align: center;
}

article h2{
    background-color: #8f477d77;
    color: black;
    font-size: 1.8em;
    font-weight: normal;
    font-family: var(--fonte-destaque);
    text-align: center;
}

article h3{
    background-color: #8f477d77;
    color: black;
    font-size: 1.8em;
    font-weight: normal;
    font-family: var(--fonte-destaque);
    text-align: center;
}

article h4{
    background-color: #8f477d77;
    color: black;
    font-size: 1.8em;
    font-weight: normal;
    font-family: var(--fonte-destaque);
    text-align: center;
}

article h5{
    background-color: #8f477d77;
    color: black;
    font-size: 1.8em;
    font-weight: normal;
    font-family: var(--fonte-destaque);
    text-align: center;
}

article h6{
    background-color: #8f477d77;
    color: black;
    font-size: 1.8em;
    font-weight: normal;
    font-family: var(--fonte-destaque);
    text-align: center;
}

article p{
    text-align: justify;
    font-size: 1em;
    line-height: 2em;
    text-indent: 22px;
}

article p.aviao{
    text-align: center;
}


footer{
    color: white;
    font-weight: bolder;
    text-align: center;
}